<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Tokens</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        .word-cloud-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Dashboard Tokens</h1>
        <div class="row mt-4">
            <div class="col-md-4">
                <label for="topic-filter">Filter by Topic:</label>
                <select class="form-control" id="topic-filter">
                    <option value="">All Topics</option>
                    {% for token in tokens%}
                    <option value="{{ token.topic }}">{{ token.topic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="subtopic-filter">Filter by Subtopic:</label>
                <select class="form-control" id="subtopic-filter">
                    <option value="">All Subtopics</option>
                    {% for token in tokens%}
                    <option value="{{ token.subtopic }}">{{ token.subtopic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="version-filter">Filter by Version:</label>
                <select class="form-control" id="version-filter">
                    <option value="">All Versions</option>
                    {% for token in tokens%}
                    <option value="{{ token.version }}">{{ token.version }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="word-cloud-container">
            <h3>Word Cloud</h3>
            <div id="word-cloud" style="height: 300px;"></div>
        </div>
    </div>


</body>
</html>
